@font-face {
	font-family: 'Bebas Neue';
	src: url('/fonts/BebasNeue/BebasNeueRegular.eot');
	src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
		url('/fonts/BebasNeue/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/BebasNeue/BebasNeueRegular.woff') format('woff'),
		url('/fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bebas-bold';
	src: url('/fonts/BebasNeue/BebasNeueBold.eot');
	src: local('/fonts/BebasNeue/Bebas Neue Bold'), local('BebasNeueBold'),
		url('/fonts/BebasNeue/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/BebasNeue/BebasNeueBold.woff') format('woff'),
		url('/fonts/BebasNeue/BebasNeueBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header__top, 
.header__menu {
    max-width: 1024px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.header__top,
.header__menu   {
    display: flex; 
    justify-content: space-between;
}

.header__top {
    margin-top: 20px;
    padding-bottom: 20px; /*уточнить можно ли указівать*/
}

.header__link {
    text-transform: uppercase;
}
p, a {
    font-family: 'bebas-bold';

}